.footer-col{
    height: 250px;
    max-width: 100%;
    background-color: #333;
    margin-top: 30px;
}
.container3{
    max-width: 1200px;
    margin: 0 auto;
}
.boxcenter{
    margin: 0 auto;
}
.boxcenter h4{
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 40px;
    color: #fff;
}
.boxcenter p{
    margin-top: 7px;
    color: #d8d6d6;
}
.boxcenter a{
    color: #d8d6d6;
    text-decoration: none;
}
.contact{
    width: 24%;
    float: left;
}
.contact h4{
    margin-bottom: 15px;
    
}
.pocicy{
    width: 24%;
    float: left;
}
.pocicy p{
    margin-left: 7px;
}
.links{
    width: 24%;
    float: left;
}
.links p{
    margin-bottom: 15px;
}
.links i{
    width: 40px;
    color: #fff;
}
.fangape{
    width: 24%;
    float: left;
}
.fangape img{
    height: 130px;
    width: 180px;
}
.textcenter{
    text-align: center;
    
}
/*------*/
body{
    color: #333;
    font-weight: 300;
    margin: 0;
}
.header{
    background: #333;
    color: #fff;
    padding: 0.3em 1em;
}
.content, .slidebar{
    box-sizing: border-box;
}
.content{
    padding: 0.3em 1em;
    margin-bottom: 1em;
}
.slidebar{
    
    font-size: 95%;
    padding: 0.3em 1em;
}
@media  screen and (max-width:700px) 
{
    .main::before, .main::after{
        content: "";
        display: table;
        clear: both;
    }
    .main{
        max-width: 100%;
    }
    .content{
        width: 63.5%;
        float: left;
        margin-right: 1.5%;

    }
    .slidebar{
        width: 35%;
        float: left;
    }

    .contact, .pocicy, .links, .fangape{
        width: 100%;
    }

    .footer-col{
        height: 529px;
    }

    .fangape img{
        display: none;
    }


}

@media  screen and (max-width:375px){
    .contact, .pocicy, .links, .fangape{
        width: 100%;
    }
    .footer-col{
        height: 539px;
    }

    .fangape img{
        display: none;
    }
} 

