#form, #formdk {
    position: fixed;
    z-index: 10;
    width: 400px;
    border: 1px solid green;
    padding: 20px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-weight: 700;
    background-color: white;
    display: none;
}
#formdk{
    display: none;
}
#form input,#formdk input {
    width: 100%;
    padding: 10px 10px;
    background-color: rgb(195, 205, 230);
    height: 50px;
    font-size: 18px;
    
}
#form .icon-close,#formdk .icon-close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    cursor: pointer;
    right: 15px;
    font-size: 30px;
    font-weight: 500;
}
#backgroundDN{
    background-color: #281c1c69;
    position: fixed;
    height: 100%;
    z-index: 9;
    width: 100%;
    display: none;
}
.buttonDN{
    background-color: #242121 !important;
    color: #ccc;
}