*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    /* user-select: none; */
}
html{
    font-family: 'Roboto', sans-serif;
}
li{
    list-style: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
#main{
    min-height:480px;
}