* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* user-select: none; */
}
html {
    font-family: "Roboto", sans-serif;
}
li {
    list-style: none;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
#main {
    min-height: 480px;
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    clear: both;
    padding-top: 20px; /* Thêm padding-top để tạo khoảng cách với menu */
}
