#contain1{
}
.container1{
    max-width: 1600px;
    margin: 0  auto;
    position: relative;
}

#contain1 #slide_img{
    width: 100%;
    height: 100%;
}

#contain1 ul{
    list-style-type: none;
    
}

#contain1 .left {
    font-size: 50px;
    color: gray;
    width: 100px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translate(20%, -50%);
}
#contain1 .right{
    font-size: 50px;
    text-align: right;
    color: gray;
    width: 100px;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translate(-20%, -50%);
}

#contain1 .left:hover, #contain1 .right:hover{
    color: white;
    cursor: pointer;
    /* Thiet lap con tro*/
} 

#contain1 #info{
    display: flex;
    width: 100%;
    margin: 25px 0px;
    justify-content: center;
}

#contain1 #info .info_1{
   width: 300px;

}
#contain1 #info .box_info{
    /* margin: 0px 35px; */
}

#contain1 #info .box_info .icon{
    /* height: 90px;
    width: 275px; */
}

#contain1 #info .box_info .icon img{
    height: 70px;
    width: 70px;
    margin: 0px 115px;
}

#contain1 #info .box_info .title{
   text-align: center;
   text-transform: uppercase;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}

#contain1 #info .box_info .content{
    text-align: center;
    margin-top: 5px;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

/* desktop */
@media screen and (max-width: 1200px) {
    #contain1 #row{
        justify-content: center; 
    }
    #contain1 #info .box_info .icon img {
        height: 50px;
        width: 50px;
        margin: 14px 75px;
    }
    #contain1 #info .info_1 {
        width: 200px;
    }
    


}
/* tablet */
@media screen and (max-width: 860px){
    #contain1 #info{
        display: none;
    }
    #contain1 .left, #contain1 .right{
        display: none;
    }

   

    /* #contain1 .title-block:before{
        content: "";
        position: absolute;
        background-color: gray;
        color: black;
        height: 1px;
        left : 0px;
        top : 30px;
        z-index: -1;
        width: 100%;
    }
     
     
    #contain1 .title-block:after{
        content: "";
        position: absolute;
        background-color: gray;
        color: black;
        height: 1px;
        left : 0px;
        top : 35px;
        z-index: -1;
        width: 100%;
    } */
    
    #contain1 #row{
       justify-content: center; 
    }

    #contain1 #row .box-banner-index{
        width: 45%;
    }
}
/* mobile */
@media screen and (max-width: 375px){
    #contain1 .left, #contain1 .right{
        top: 70px;
        font-size: 160px;
        display: none;
    }

    #contain1 #info{
        display: none;
    }

    #contain1 .title-block:before{
        content: "";
        position: absolute;
        background-color: gray;
        color: black;
        height: 1px;
        left : 0px;
        top : 20px;
        z-index: -1;
        width: 100%;
    }
     
     
    #contain1 .title-block:after{
        content: "";
        position: absolute;
        background-color: gray;
        color: black;
        height: 1px;
        left : 0px;
        top : 25px;
        z-index: -1;
        width: 100%;
    }
    #contain1 .title-block .wrap-content .title-group{
        font-size: 15px;
    }
    #contain1 .title-block .wrap-content .title-group-note{
        font-size: 10px;
    }
    #contain1 #row .box-banner-index{
        width: 35%;
    }
    
}