#ctdh {
    background-color: white;
    margin: 100px auto;
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
    max-width: 900px;
}

#ctdh h2 {
    color: brown;
    margin: 30px 50px;
    text-align: center;
    background-color: bisque;
    border-radius: 10px;
}

#ctdh p {
    font-size: 18px;
    margin: 10px 50px;
    font-weight: bold;
}

#ctdh #ds_donhang {
    width: 90%;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 30px 50px;

}

#ctdh #ds_donhang th {
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    font-size: 15px;
    background-color: orange;
}

#ctdh #ds_donhang td {
    text-align: center;
    border: 1px solid black;
    padding: 8px;
}

#ctdh a {

    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

#ctdh a #back {
    display: inline-block;
    color: brown;
    background-color: bisque;
    padding: 20px 25px;
    margin: 10px auto;
    border-radius: 10px;
    margin-left: 379px;
}

#ctdh a #back:hover {
    color: black;
    background-color: aqua;
}

@media screen and (max-width:800px) {
    #ctdh a #back {
        margin-left: 150px;
    }
}

#ctdh .buttonadd {
    width: 134px !important;
    height: 40px;
    color: black;
    font-weight: bold;
    background-color: burlywood;
    border: 1px solid black;
    padding: 5px 15px;
    margin: 0 15px;
    cursor: pointer;
}

#ctdh #ds_donhang tr:hover a div {
    display: block;
}
#ctdh #ds_donhang a div {
     display: none;
    border: none;
    background-color: orange;
    color: black;
    text-decoration: none;
    padding: 3px 10px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 15px;
 }