*{
    margin: 0px;
    padding: 0px;
}

#title_km{
    text-align: center;
    background-color: bisque;
    color: brown;
    padding: 8px 0px;
    border-radius: 15px;
    margin: 10px 30px;
}

#add_km{
    color: black;
    background-color: cornflowerblue;
    display: inline-block;
    font-weight: bold;
    border: 0px;
    padding: 5px 10px;
    border-radius: 8px;
    margin: 10px 30px;
}

#add_km:hover{
    background-color: aqua;
}

#tbl_km{
    width: 95%;
    border: 1px solid black;
    border-radius: 50px;
    margin: 10px 30px;
}

#tbl_km  th{
    border: 1px solid black;
    background-color: burlywood;
    text-align: center;
    padding: 10px 0px;
}


#tbl_km  td{
    border: 1px solid black;
    text-align: center;
    padding: 10px 0px;
}

#tbl_km #edit_km, #tbl_km #delete_km {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 15px;
    display: inline-block;
    padding: 10px 20px;
    margin: 0px 8px;
}

#tbl_km #edit_km{
    background-color: greenyellow;
}

#tbl_km #delete_km{
    background-color: brown ;
}

#tbl_km #edit_km:hover, #tbl_km #delete_km:hover{
    background-color: gold;
}