*{
    margin: 0px;
    padding: 0px;
}

label{
    margin: 10px 0px;
}
#title-pq{
    text-align: center;
    background-color: bisque;
    color: brown;
    padding: 8px 0px;
    border-radius: 15px;
    margin: 10px 30px 30px 30px;
}

#dsq{
    display: inline-block;
}

#ADD{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#ADD label div{
    font-size: 20px;
    margin: 5px 0px;
    font-weight: bold;
}

#ADD label input{
    font-size: 18px;
    border: none;
    border-bottom: 5px solid burlywood;
    color: brown;
    font-weight: 500;
    background: none;
    padding: 5px;
}

#ADD #add{
    margin: auto 0px;
    padding: 10px;
    color: bisque;
    background-color: brown;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#quyen{
    margin: 50px 0px;
    border: 3px solid black;
    padding: 8px 30px;
    font-weight: bold;
    border-collapse: collapse;
    width: 100%;
}

#quyen th{
    padding: 10px 5px;
    border: 3px solid black;
    text-align: center;
    background-color: aquamarine;
}

#quyen td{
    padding: 10px 5px;
    border: 3px solid black;
    text-align: center;

}

#quyen td a{
    color: bisque;
}

#quyen td a div {
    padding: 10px;
    background-color: brown;
    display: inline-block;
    border-radius: 10px;
}

#quyen td a div:hover {
    background-color: aqua;
    color: black;
}

#quyen td a > i{
    color: black;
    background-color: rgb(188, 183, 183);
    opacity: 0.8;
    border-radius: 5px;
    padding: 10px;
}

#check_item{
    margin: 10px auto;
    min-height: 400px;
    padding: 82px 132px;
    border: 3px solid sienna;
    border-radius: 15px;
    background-color: rgb(204, 182, 182);
    width: 80%;
    position: relative;
}

#check_item #exit{
    position: absolute;
    color: black;
    text-decoration: none;
    top: 0px;
    right: 22px;
    font-size: 30px;
}
#check_item #exit:hover{
    color: brown;
}
#check_item .checkbox_item{
    display: inline-block;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    /* overflow: hidden; */
}

#check_item .checkbox_item .checkbox{
    display: none;
}
#check_item .checkbox_item span{
    text-align: center;
}
#check_item .checkbox_item span::before{
    content: '';
    width:50px;
    height: 25px;
    display: inline-block;
    border-radius: 15px;
    border: 3px solid rgb(205, 149, 77);
    position: relative;
    top: 4px;
    z-index: 2;
    margin-right: 5px;
}

#check_item .checkbox_item i{
    position: absolute;
    left: 1px;
    top: 11px;
    color: brown;
    font-weight: bold;
    transition: all 0.5s;
    font-size: 20px;
    z-index: 3;
    transition: all 0.3s linear;
}

#check_item .checkbox_item .checkbox:checked~i{
    left: 28px;
    color: white;
}

#check_item .checkbox_item .checkbox:checked~span{
    color: brown;
}

#check_item .checkbox_item .checkbox:checked~span::before{
    background-color: bisque;
}



#submit{
    display: flex;
    justify-content: center;
}
#edit{
   
    padding: 20px;
    font-weight: bold;
    color: bisque;
    background-color: brown;
    border-radius: 20px;
    border: none;
}

#edit:hover{
    color: black;
    background-color: aqua;
}

